body {
    padding: 0;
    margin: 0;
}

#header {
	
}

#header h1, #header #searchForPlaces, #header #options {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#searchPlaceContainer {
	width: 40%;
}
#searchPlace {
	width: 100%;
}

#content {
	padding-top: 70px;
}

html, body, .left, .right {
    height: 100%;
}

#planning {
	position:relative;
}

.right {
	position: absolute;
	left: 250px;
	right: 0px
}

.ib {
	display : inline-block;
}

.left {
	width: 250px;
}
.right {
	margin: auto;
}

#search {
	padding: 5px;
}

#itinerary {
	
} 

